<form method="post" action="{{ path('cv_delete', {'idCv': cv.idCv}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cv.idCv) }}">
    <button class="btn">Delete</button>
</form>
