<form method="post" action="{{ path('galleries_delete', {'idGallery': gallery.idGallery}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gallery.idGallery) }}">
    <button class="btn">Delete</button>
</form>
