{% extends 'base.html.twig' %}

{% block title %}Edit Galleries{% endblock %}

{% block body %}
    <h1>Edit Galleries</h1>

    {{ include('galleries/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('galleries_index') }}">back to list</a>

    {{ include('galleries/_delete_form.html.twig') }}
{% endblock %}
