<form method="post" action="{{ path('type_cv_delete', {'idTypeCv': type_cv.idTypeCv}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_cv.idTypeCv) }}">
    <button class="btn">Delete</button>
</form>
