{% extends 'base.html.twig' %}

{% block title %}New TypeCv{% endblock %}

{% block body %}
    <h1>Create new TypeCv</h1>

    {{ include('type_cv/_form.html.twig') }}

    <a href="{{ path('type_cv_index') }}">back to list</a>
{% endblock %}
