{% extends 'base.html.twig' %}

{% block title %}Edit Websites{% endblock %}

{% block body %}
    <h1>Edit Websites</h1>

    {{ include('websites/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('websites_index') }}">back to list</a>

    {{ include('websites/_delete_form.html.twig') }}
{% endblock %}
