{% extends 'base.html.twig' %}

{% block title %}New Websites{% endblock %}

{% block body %}
    <h1>Create new Websites</h1>

    {{ include('websites/_form.html.twig') }}

    <a href="{{ path('websites_index') }}">back to list</a>
{% endblock %}
