<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Digital Portfolio{% endblock %}</title>
        {% block stylesheets %} 
        <link href="{{ asset('build/portfolio.css') }}" rel="stylesheet" />
        <link media="screen" href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
		<link media="screen" href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<link media="screen" href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
        <!--[if lte IE 9]>
		<link rel="stylesheet" href="css/ie_hack.css" media="screen">
		<![endif]-->

		<!--bootstrap include-->

		<!--[if (gte IE 6)&(lte IE 8)]>
		<script src="js/ie9.js" type="text/javascript"></script>
		<script src="js/respond.min.js" type="text/javascript"></script>
		<![endif]-->
        {% endblock %}
    </head>
    <body>
       
        

    <div id="container" class="970">
			<div id="content" class="effect2">
				<div class="outer-widget-1">
					<div class="outer-widget">
						<div id="main_content" class="inner-widget">
							<!-- HOME START -->
							<div id="id_home" class="home">
								<div class="widget-container">
									<div class="sidebar_left">
										<img class="home_profile_image" src="/build/static/portfolio/images/home/home_pic.png" alt="" />
									</div>
									<div class="sidebar_right">
										<div class="margin-top-home"></div>
										<div class="clear"></div>
										<div class="sidebar_left-2">
											<div class="home widget">
												<div class="profile">
													<h1>
														<span>A</span>LONZO 
														<span class="span2">K</span>ENNY
													</h1>
													<h3>Concepteur Informatique et Développeur Web</h3>
													<div class="line"></div>
												</div>
												<div class="profile_info">
													<p>
													Développeur web spécialisé dans le développement d’application de site web adaptatif , au bénéfice de plus de 8 ans d’expériences, je suis autonome dans le développement de solution e-commerce ou d’application de bureau.                                            
													</p>
												</div>
												<div>
													<ul class="ul_social">
														<li>
															<div class="bg_blue">
																<i class="icon_hire"></i>
															</div>
														</li>
														<li><div class="available_hire">DISPONIBLE DE SUITE</div></li>
														<li><a class="social_icon_download" href="documentation/pdf/cv/cv_2019_devapp.pdf" title="Télécharger CV"></a></li>
														<li class="mobile_hide"><a class="social_facebook" href="https://www.facebook.com/kenny.alonzo.75" title="Facebook"></a></li>
														<li class="mobile_hide"><a class="social_twitter" href="https://twitter.com/NoStarSunshine1" title="Twitter"></a></li>
														<li class="mobile_hide"><a class="social_github" href="https://github.com/kalonzo/" title="GitHub"></a></li>
													</ul>
													<div class="clear"></div>
												</div>
											</div>
										</div>
										<div class="sidebar_right-2">
											<div class="services">
												<div class="title_background">
													<div class="left icon_bg">
														<i class="icon_services left"></i>
														<div class="icon_bg_bottom"></div>
													</div>
													<div class="title_background_bl left"></div>
													<h2 class="left">Mes Services</h2>
													<div class="clear"></div>
												</div>
												<div class="clear"></div>
												<!-- start service slider -->
												<div class="service_slider_container">
													<div id="service_slider">
														<!-- start 1 -->
														<div class="service_slider">
															<div class="services_list">
																<h3 class="right"><i class="icon_services_1 left"></i>Conception De Site Web</h3>
																<div class="clear"></div>
																<p class="text_align_right italic">
																Site vitrine, Shop online, Site adaptatif.                                                        
																</p>
															</div>
															<div class="services_list">
																<h3 class="right"><i class="icon_services_2 left"></i>Design, Développement</h3>
																<div class="clear"></div>
																<p class="text_align_right italic">
																Carte de visite, Logo, Vcard, Photoshop, News Letter                                                        
																</p>
															</div>
														</div>
														<!-- ends 1 -->
														<!-- start 1 -->
														<div class="service_slider">
															<div class="services_list">
																<h3 class="right"><i class="icon_services_1 left"></i>Consultant Informatique</h3>
																<div class="clear"></div>
																<p class="text_align_right italic">
																Analyse de votre infrastructure, Analyse des coûts et optimisation                                                        
																</p>
															</div>
															<div class="services_list">
																<h3 class="right"><i class="icon_services_2 left"></i>Dépannage et installation</h3>
																<div class="clear"></div>
																<p class="text_align_right italic">
																Mise à jour organisationnel et fonctionnelle du parc Informatique.                                                        
																</p>
															</div>
														</div>
														<!-- ends 1 -->
														<!-- start 1 -->
														<div class="service_slider">
															<div class="services_list">
																<h3 class="right"><i class="icon_services_1 left"></i>Accompagnement Digital </h3>
																<div class="clear"></div>
																<p class="text_align_right italic">
																Structuration de vos idées dans un contexte professionnel.                                                        
																</p>
															</div>
															<div class="services_list">
																<h3 class="right"><i class="icon_services_2 left"></i>Sécurité de l'Information </h3>
																<div class="clear"></div>
																<p class="text_align_right italic">
																Élaboration de la sécurité, évaluation des risques imputé à vos projets.                                                        
																</p>
															</div>
														</div>
														<!-- ends 1 -->
														<!-- start 1 -->
														<div class="service_slider">
															<div class="services_list">
																<h3 class="right"><i class="icon_services_1 left"></i>Digital Marketing</h3>
																<div class="clear"></div>
																<p class="text_align_right italic">
																Référencement de site, Google Analytique.                                                        
																</p>
															</div>
															<div class="services_list">
																<h3 class="right"><i class="icon_services_2 left"></i>Publicité</h3>
																<div class="clear"></div>
																<p class="text_align_right italic">
																Cillement par secteur en fonction des besoins et budgets marketing                                                         
																</p>
															</div>
														</div>
														<!-- ends 1 -->
													</div>
													<div id="service_slider_nav"></div>
												</div>
												<!-- ends service slider -->
											</div>
										</div>
										<div class="clear"></div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
							</div>
							<!-- HOME ENDS -->
							<!-- ABOUT START -->
							<div id="id_about" class="about">
								<div class="widget-container">
									<div class="sidebar_left">
										<div  class="widget-left">
											<h2 class="info">À propos</h2>
											<div class="line"></div>
											<p class="info">
											Informaticien généraliste de formation depuis 2012, je suis passionné par la gestion de projet.
											J'ai complété ma formation initiale par une école technique en informatique de gestion afin de comprendre les concepts de gestion de projets,
											marketing, positionnement et besoin des entreprises.                                         
											Mon expérience pluridisciplinaire ma permis d’acquérir les compétences nécessaires pour analyser l’impact de l'informatique et des réseaux sociaux sur la durée de vie de l'entreprise.
											Les CMS comme Wordpress ou Joomla ont pris une grande part du marché, Google est devenu un des acteurs principaux pour booster la visibilité des entreprises.
											Ma vision du Web fait de moi une personne qui sais se rendre indispensable.                                    
											</p>
											<div>
												<ul></ul>
											</div>
										</div>
									</div>
									<div class="sidebar_right">
										<div class="margin-top"></div>
										<div>
											<div class="title_background_bl left"></div>
											<h2 class="title_background left">
												<span class="left">Info Personnelle</span>
												<span class="left icon_bg">
													<i class="icon_personal_info left"></i>
													<i class="icon_bg_shadow"></i>
												</span>
											</h2>
											<div class="clear"></div>
										</div>
										<div class="clear"></div>
										<div class="sidebar_right-2">
											<div class="widget">
												<!-- start photo slider -->
												<div id="photo_slider">
													<div class="photo_slider">
														<img src="/build/static/portfolio/images/about/profil_picture/profil_1.gif" alt="" />
													</div>
													<div class="photo_slider">
														<img src="/build/static/portfolio/images/about/profil_picture/profil_2.gif" alt="" />
													</div>
													<div class="photo_slider">
														<img src="/build/static/portfolio/images/about/profil_picture/profil_3.gif" alt="" />
													</div>
												</div>
												<div id="photo_slider_nav"></div>
												<!-- ends photo slider -->
											</div>
										</div>
										<div class="sidebar_left-2">
											<div class="widget">
												<!-- start personal info -->
												<ul class="personal-info">
													<li>
														<div class="label">
															<label>Nom :</label>
															<span class="right">ALONZO KENNY</span>
														</div>
													</li>
													<li>
														<div class="label">
															<label>Date de Naissance :</label>
															<span class="right">02 Mai, 1987</span>
														</div>
													</li>
													<li>
														<div class="label">
															<label>Adresse :</label>
															<span class="right">CHAVANNES 143</span>
														</div>
														<div>
															<span class="right">1007 Lausanne, CH</span>
														</div>
														<div class="clear"></div>
													</li>
													<li>
														<div class="label">
															<label>Email :</label>
															<span class="right"><a href="mailto:kalonzo@bluewin.ch" title="">KALONZO@BLUEWIN.CH</a></span>
														</div>
													</li>
													<li>
														<div class="label">
															<label>Tél. :</label>
															<span class="right">+41 78 253 33 05</span>
														</div>
													</li>
													<li>
														<div class="label">
															<label>Fax :</label>
															<span class="right">+123 456 789 111</span>
														</div>
													</li>
													<li>
														<div class="label">
															<label>Site Web :</label>
															<span class="right"><a href="https://www.kenny-alonzo.ch" title="">WWW.KENNY-ALONZO.CH</a></span>
														</div>
													</li>
												</ul>
												<!-- ends personal info -->
											</div>
										</div>
										<div class="clear"></div>
										<div class="padding-20">
											<div class="border_bottom"></div>
											<div class="margin-bottom-25"></div>
										</div>
										<div class="sidebar_left-2">
											<div class="widget">
												<!-- start Twitter Feed -->
												<div>
													<div class="left twitter_image">
														<img src="/build/static/portfolio/images/about/twitter.png" alt="" />
													</div>
													<div id="twitter_update_list_master">
														<div class="left" id="twitter_update_list">
															<div class="left" id="twitter_update_list_container"></div>
														</div>
													</div>
													<div class="clear"></div>
												</div>
												<!-- ends Twitter Feed -->
											</div>
										</div>
										<div class="sidebar_right-2">
											<!-- start Social Network -->
											<div class="widget_mobile">
												<ul class="ul_social_2">
													<li><a class="social_facebook" href="https://www.facebook.com/kenny.alonzo.75" title="Facebook"></a></li>
													<li><a class="social_twitter" href="https://twitter.com/NoStarSunshine1" title="Twitter"></a></li>
													<li><a class="social_github" href="https://github.com/kalonzo" title="GitHub"></a></li>
													<li><a class="social_skype" href="callto:kalonzo_10" title="Skype"></a></li>
													<li><a class="social_in" href="https://www.linkedin.com/in/kenny-alonzo" title="LinkedIn"></a></li>
												</ul>
												<div class="clear"></div>
											</div>
											<!-- ends Social Network -->
										</div>
										<div class="clear"></div>
										<div class="margin-bottom-home"></div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
							</div>
							<!-- ABOUT ENDS -->
							<!-- RESUME START -->
							<div id="id_resume" class="resume">
								<div class="widget-container">
									<div class="sidebar_left">
										<div class="widget-left">
											<h2>CV</h2>
											<div class="line"></div>
											<p class="p_desc_left">
													Passionnée d’informatique depuis mon plus jeune âge, j’ai traversé l’époque de la normalisation des systèmes IT,
													j’a travaillé dans des secteurs comme l’administration, la banque mais aussi la vente et la restauration. 
													Je suis en possession de compétence qui m'ont permis de voir mon positionnement s’orienter vers une carrière de concepteur informatique et développeur web.                                    
											</p>
											<!-- AWARDS -->
											<div>
												<h2 class="title_background left">
													<span class="left">Récompense</span>
													<span class="left icon_bg">
														<i class="icon_award left"></i>
														<i class="icon_bg_shadow"></i>
													</span>
												</h2>
												<div class="clear"></div>
											</div>
											<div>
												<ul class="ul_questions_2">
													<li>
														<div class="border-center-contain-2">
															<i class="plus_minus"></i>
															<div  class="border-center-2">
																<a title="" href=""><span class="title left">Deuxième prix</span></a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_2_title">
														AMARIS - Global Compact Network Switzerland                                                
														</div>
														<div class="answer_2_title">
														MARS 21 - 22 2019| Genève                                                
														</div>
														<div class="answer_2">
															<div>
																<p class="c_gray">
																	Dans le cadre d'un concours que j'ai réaliser chez amaris mandater par la GCNS, 
																	le but étant d'imaginer une solution pour permettre aux utilisateur de la GCNS d'échanger des informations en ligne pour permettre de se présenter entre eux,
																	présenter leur activité promouvoir le développement durable au sein des entreprises et informer la communauté des nouvelles dans le scope du développement durable. 
																	Échanger leur connaissances à travers une base de connaissance. Proposer des appels d'offre aux partenaires pour informer et aider.
																</p>
															</div>
														</div>
													</li>
													<li>
														<div class="border-center-contain-2">
															<i class="plus_minus"></i>
															<div  class="border-center-2">
																<a title="" href=""><span class="title left">Prix de Participation</span></a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_2_title">
														Lausanne - Capital Olympique                                                
														</div>
														<div class="answer_2_title">
														AVRIL 26 2014 | Lausanne Tour de la ville                                                
														</div>
														<div class="answer_2">
															<div>
																<p class="c_gray">
																	Un de mes passe temps favoris est la course à pieds, endurance ou sprint il arrive souvent,
																	que je participe à des marathons ou semi marathons,
																	pour évacuer le stress et les penser trop encombrante pour être productif.
																</p>
															</div>
														</div>
													</li>
												</ul>

											</div>
											<!-- AWARDS ENDS -->
											<!-- REFERENCE -->
											<div>
												<h2 class="title_background left">
													<span class="left">Reference</span>
													<span class="left icon_bg">
														<i class="icon_reference left"></i>
														<i class="icon_bg_shadow"></i>
													</span>
												</h2>
												<div class="clear"></div>
											</div>
											<div>
												<ul class="ul_questions_2">
													<li>
														<div class="border-center-contain-2">
															<i class="plus_minus"></i>
															<div  class="border-center-2">
																<a title="" href=""><span class="title left">Disponible ASAP </span></a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_2_title">
														Demande de contacte en cours                                                
														</div>
														<div class="answer_2">
															<div>
																<!--
																<div class="answer_address">
																	<span class="s_blue">Royal Herritage Factory</span>
																	<br />
																	<span class="c_gray">28th, South Carolina, USA</span>
																</div>
																<ul class="ul_answer_address">
																	<li>
																		<span class="s_blue">T</span>
																		<span class="c_gray"> +2 467 8909890 898</span>
																	</li>
																	<li>
																		<span class="s_blue">E</span>
																		<span class="c_gray"> johndoe@gmail.com</span>
																	</li>
																</ul>
															-->
															</div>
														</div>
													</li>
												</ul>
											</div>
											<!-- REFERENCE ENDS -->
										</div>
									</div>
									<div class="sidebar_right">
										<div class="margin-top"></div>
										<!-- start DEVELOPMENT SKILLS -->
										<div>
											<div class="title_background_bl left"></div>
											<h2 class="title_background left">
												<span class="left">Compétences de Développement</span>
												<span class="left icon_bg">
													<i class="icon_development_skills  left"></i>
													<i class="icon_bg_shadow"></i>
												</span>
											</h2>
											<div class="clear"></div>
										</div>
										<div>
											<div class="widget">
												<ul class="ul_questions">
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">JQUERY - AJAX</span>
																	<span class="experience right">INTERM, 3 ANS</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_container">
																<div class="bar" style="width:90%;">
																	<span class="bar_padding">90%</span>
																</div>
															</div>
														</div>
														<div class="answer">
															<p>
															Fin 2016, peu de temps avant mon engagement chez TREND ON LINE j'ai commencé à intégrer le JQUERY, AJAX dans mes projets et j'ai appris à suivre une documentation pour communiquer avec une api.                                                                                     
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">HTML5 - JS - CSS</span>
																	<span class="experience right">EXPERT, 8 ANS</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_container">
																<div class="bar" style="width:75%;">
																	<span class="bar_padding">75%</span>
																</div>
															</div>
														</div>
														<div class="answer">
															<p>
															A la fin de ma scolarité j'entreprend une école de webmaster et achève ma formation d'informaticien de gestion, 
															fin 2014. J'ai utilisé un simple bloc note au départ puis d'autre IDE comme Dreamweaver, netbeans, VSC, eclipse, pour ganger en agilité tout au long de ces années.                                                                                     
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">MySQL - ORACLE</span>
																	<span class="experience right">AVANCÉ, 3 ANS</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_container">
																<div class="bar" style="width:85%;">
																	<span class="bar_padding">85%</span>
																</div>
															</div>
														</div>
														<div class="answer">
															<p>
															Les système de gestion de base données sont une des parties importante de mes activités, 
															depuis mon expérience à la banque j'ai pu saisir les concepts d'automatisation et le role d'une bonne conception dans toutes application.                                                                                    
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">Wordpress - Woocommerce</span>
																	<span class="experience right">INTERM, 3 ANS</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_container">
																<div class="bar" style="width:98%;">
																	<span class="bar_padding">98%</span>
																</div>
															</div>
														</div>
														<div class="answer">
															<p>
															J'ai perfectionné mes compétences de développeur CMS à l'aide de Wordpress - Frontend et Backend
															de la boutique en ligne de TREND ON LINE pendant une année à la suite de quoi j'ai continué à appliquer ce type de solution pour mes clients.                                                                                    
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">PHP7 - JAVA - C# - POO</span>
																	<span class="experience right">AVANCER, 5 ANS</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_container">
																<div class="bar" style="width:98%;">
																	<span class="bar_padding">98%</span>
																</div>
															</div>
														</div>
														<div class="answer">
															<p>
															Issu d'une formation basée sur la programmation structuré et orientée objet, 
															j'ai été formé sur de nombreux languages de programmation ainsi qu le PHP pour lequel, je passe une certification.                                                                                    
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">SYMFONY - LARAVEL - ANGULAR</span>
																	<span class="experience right">Novice, 2 ANS</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_container">
																<div class="bar" style="width:98%;">
																	<span class="bar_padding">98%</span>
																</div>
															</div>
														</div>
														<div class="answer">
															<p>
															Depuis ma participation à la création d'un service web complexe, 
															je me suis initié à l'utilisation des Framework et des bonnes pratiques de développement pour le gain de temps des projets web personnalisé en équipe.                                                                                    
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">Standard de Codage - Bonnes pratiques</span>
																	<span class="experience right">INTERM, 3 ANS</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_container">
																<div class="bar" style="width:98%;">
																	<span class="bar_padding">98%</span>
																</div>
															</div>
														</div>
														<div class="answer">
															<p>
															 L'utilisation de GIT pour héberger et synchroniser mes projets, 
															 organiser et structurer mes codes sources à rendu mes travaux de ces derniers temps plus fluide, portable et facile d'accès.                          
															</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<!-- ends DEVELOPMENT SKILLS -->
										<!-- start IT SKILLS -->
										<div>
												<div class="title_background_bl left"></div>
												<h2 class="title_background left">
													<span class="left">Compétences Informatique</span>
													<span class="left icon_bg">
														<i class="icon_design_skills left"></i>
														<i class="icon_bg_shadow"></i>
													</span>
												</h2>
												<div class="clear"></div>
											</div>
											<div class="widget">
												<ul class="ul_questions">
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">Exploitation - Informatique</span>
																	<span class="experience right">INTERM, 3 ans</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_container">
																<div class="bar" style="width:80%;">
																	<span class="bar_padding">80%</span>
																</div>
															</div>
														</div>
														<div class="answer">
															<p>
															Mon expérience m'a fait installer, configurer de nombreux OS serveurs, Web, mail, fichier, Gaming, Streaming.
															Le premier système que j'ai installé était le Microsoft Windows 95 de mon grand-père puis : MS 98 , MS2000, XP, Vista, 
															W7, W8, W10 - Microsoft Serveur 2003, 2016 - Mac OSX v10.x. -
															SUSE Linux Enterprise, Ubuntu 18 qui est mon environnement de développement et bien d'autres. 
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">Support Informatique</span>
																	<span class="experience right">NOVICE, 2 ANS</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_container">
																<div class="bar" style="width:95%;">
																	<span class="bar_padding">95%</span>
																</div>
															</div>
														</div>
														<div class="answer">
															<p>
															Pendant mon stage professionnel à la ville de Lausanne, j'ai eu l'occasion de prendre en main un help desk niv.2 en répondant au appel, mail et en répondant au ticket Easyvista                               
															</p>
														</div>
													</li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">Réseau </span>
																	<span class="experience right">Novice, 1 ans</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_container">
																<div class="bar" style="width:85%;">
																	<span class="bar_padding">85%</span>
																</div>
															</div>
														</div>
														<div class="answer">
															<p>
															Après une longue carrière en informatique, les protocole de communication du model de la couche OSI 3 à 7 (tels que TCP/IP, DNS, DHCP, POP3, SSH, FTP, HTTP.. font partie de mon jargon métier).                                      
															</p>
														</div>
													</li>
												</ul>
											</div>
											<!-- ends IT SKILLS -->

										<!-- start Design SKILLS -->
										<div>
											<div class="title_background_bl left"></div>
											<h2 class="title_background left">
												<span class="left">Compétences Graphique</span>
												<span class="left icon_bg">
													<i class="icon_design_skills left"></i>
													<i class="icon_bg_shadow"></i>
												</span>
											</h2>
											<div class="clear"></div>
										</div>
										<div class="widget">
											<ul class="ul_questions">
												<li>
													<div class="border-center-contain">
														<i class="plus_minus"></i>
														<div  class="border-center">
															<a title="" href="">
																<span class="title left">Template de site Internet</span>
																<span class="experience right">Novice, 2 ans</span>
																<i class="right"></i>
															</a>
														</div>
													</div>
													<div class="clear"></div>
													<div class="answer_title">
														<div class="bar_container">
															<div class="bar" style="width:80%;">
																<span class="bar_padding">80%</span>
															</div>
														</div>
													</div>
													<div class="answer">
														<p>
														Après avoir analysé le travaille des graphistes avec qui j'ai travaillé est reproduis leur maquettes,
														je me suis familiarisé avec l'utilisation / la reproduction de maquettes PSD.                                                
														</p>
													</div>
												</li>
												<li>
													<div class="border-center-contain">
														<i class="plus_minus"></i>
														<div  class="border-center">
															<a title="" href="">
																<span class="title left">Design de Logo</span>
																<span class="experience right">NOVICE, 2 ANS</span>
																<i class="right"></i>
															</a>
														</div>
													</div>
													<div class="clear"></div>
													<div class="answer_title">
														<div class="bar_container">
															<div class="bar" style="width:95%;">
																<span class="bar_padding">95%</span>
															</div>
														</div>
													</div>
													<div class="answer">
														<p>
														Les dimensions et la politique stricte des images dans l'élaboration d'un site de qualité ma toujours confronté à devoir
														adapté des images ou réaliser, logos adaptatif et responsive pour tout type de plateformes.                                
														</p>
													</div>
												</li>
												<li>
													<div class="border-center-contain">
														<i class="plus_minus"></i>
														<div  class="border-center">
															<a title="" href="">
																<span class="title left">Newsletter</span>
																<span class="experience right">Novice, 1 ans</span>
																<i class="right"></i>
															</a>
														</div>
													</div>
													<div class="clear"></div>
													<div class="answer_title">
														<div class="bar_container">
															<div class="bar" style="width:70%;">
																<span class="bar_padding">70%</span>
															</div>
														</div>
													</div>
													<div class="answer">
														<p>
														Dans le but de promouvoir des produits ou des services de manière rapide est moins coûteuses, 
														j'ai commencé à écrire des news letters personnalisées en HTML et interconnecter leur réseau digital.                                               
														</p>
													</div>
												</li>
												<li>
													<div class="border-center-contain">
														<i class="plus_minus"></i>
														<div  class="border-center">
															<a title="" href="">
																<span class="title left">Flyer - Menu </span>
																<span class="experience right">Novice, 1 ans</span>
																<i class="right"></i>
															</a>
														</div>
													</div>
													<div class="clear"></div>
													<div class="answer_title">
														<div class="bar_container">
															<div class="bar" style="width:85%;">
																<span class="bar_padding">85%</span>
															</div>
														</div>
													</div>
													<div class="answer">
														<p>
														Au cours de travaux réalisé pour un restaurateur de lausanne, 
														je réalise aussi divers Flyer et Menu que je publie sur leur site pour aider le marketing.                                                
														</p>
													</div>
												</li>
											</ul>
										</div>
										<!-- ends Design SKILLS -->
										<!-- start Work EXPERIENCE -->
										<div>
											<div class="title_background_bl left"></div>
											<h2 class="title_background left">
												<span class="left">Expériences Professionnelles</span>
												<span class="left icon_bg">
													<i class="icon_education left"></i>
													<i class="icon_bg_shadow"></i>
												</span>
											</h2>
											<div class="clear"></div>
										</div>
										<div>
											<div class="widget">
												<ul class="ul_questions">
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">Freelance - Développeur</span>
																	<span class="experience right">Janvier 2019 à nos jours</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_title">
																Région Lausanne, Genève et environ
															</div>
														</div>
														<div class="answer">
															<p>
																Réalisation de mon portfolio web, publication de mes projets sur git hub et participation à des concours de développement.
																Développement de site internet pour des particuliers. Certification PHP.                                    
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">Lab4Tech - Développeur PHP</span>
																	<span class="experience right">2018 - 3 mois</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_title">
																	Passage Saint-François 12, 1003 Lausanne
															</div>
														</div>
														<div class="answer">
															<p>
															Stage professionnel chez Lab4Tech Développement PHP / Symfony 4. Participation à l’élaboration d’un ERP de gestion de marché du travail.                                                    
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">TREND ON LINE - Développeur d'application </span>
																	<span class="experience right">2017-2018</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_title">
																Avenue Alfred Cortot 8, 1260 Nyon
															</div>
														</div>
														<div class="answer">
															<p>
																Développeur web pour le site TREND ON LINE, en charge du backend (environnement de test Windows 7 / wamp64) et du front (WordPress – woocomerce, 
																PHP7/HTML5) du shop on line. Évoluant dans une petite équipe et bénéficiant d'une formation IT généraliste,
																j’étais aussi en charge de la maintenance du parc informatique Windows / Mac / Linux et de la mise en place du réseau sur un NAS.                                                    
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">Freelance - Développeur</span>
																	<span class="experience right">2015 - 2017</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_title">
															  Région Lausanne, Genève et environ
															</div>
														</div>
														<div class="answer">
															<p>
																	Freelance : Installation / mise à jour, dépannage de solution informatique , design.                                                
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">JEUNESSE&amp;CAMPS - Moniteur de Camp </span>
																	<span class="experience right">2015 - AVRIL </span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_title">
																	Chemin de Montchoisi 42, 1462 Yvonand 
															</div>
														</div>
														<div class="answer">
															<p>
																Bénévolat en tant que moniteur Jeunesse et Camps                                                   
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">Ville de Lausanne - Informaticien</span>
																	<span class="experience right">2011 - 2012</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_title">
															  Stage
															</div>
														</div>
														<div class="answer">
															<p>
																	Formation en interne dans l’infrastructure de type Windows : Gestion de demande de change et prise en main d’un help desk,
																	développement et gestion de package Windows 7 sur un serveur SCCM 2007. 
																	Préparation et entretien de nouveau poste pour différent secteur de la ville de Lausanne.                                                  
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">Banque Pictet - Développeur JAVA</span>
																	<span class="experience right">2010 - 2011</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_title">
															   Route des Acacias 60, 1211 Geneva
															</div>
														</div>
														<div class="answer">
															<p>
																	Formation en interne sur la plateforme avaloq. Développement d’outils dashboard en flex java sur des serveurs Tomcat.
																	Modification et mise à jour d’application déjà existante en Flex / java.                                                
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">5D - Administrateur Réseau</span>
																	<span class="experience right">2009 - 3 mois</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_title">
																Avenue de Sévelin 8, 1004 Lausanne
															</div>
														</div>
														<div class="answer">
															<p>
																	Formation de trois mois, sur l'établissement d'un système d'information, installation physique et configuration des rôles controlleur de domaine,
																	serveur de fichier, Active directory, configuration des utilisateurs, gestion des sroit est accés et configuration des GPO. à la suite de cette messure je me vît su                                                 
															</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<!-- ends Work EXPERIENCE -->


										<!-- start EDUCATION -->
										<div>
											<div class="title_background_bl left"></div>
											<h2 class="title_background left">
												<span class="left">Éducation</span>
												<span class="left icon_bg">
													<i class="icon_education left"></i>
													<i class="icon_bg_shadow"></i>
												</span>
											</h2>
											<div class="clear"></div>
										</div>
										<div>
											<div class="widget">
												<ul class="ul_questions">
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">ESVIG - ES</span>
																	<span class="experience right">2012 - 2013</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_title">
																Rue de Sébeillon 12, 1004 Lausanne
															</div>
														</div>
														<div class="answer">
															<p>
																	Pluridisciplinaires, les études en informatique de gestion développent des compétences en ingénierie logiciel et en systèmes d'information.
																	Elles intègrent également au cursus une formation en gestion, communication et management.
																	Grâce à cette approche je suis capable de gérer le cycle de vie d'un système d'information.                                                    
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">École des Arches - CFC</span>
																	<span class="experience right">2008 - 2012</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_title">
																Chemin de Mornex 2, 1003 Lausanne
															</div>
														</div>
														<div class="answer">
															<p>
															Cette formation dure quatre ans, dont les 21 premiers mois se déroulent en école à plein temps, suivis de 2 années de stages rémunérés en entreprise
															mon enseigner à concevoir, développer, réaliser, intégrer, installer, mettre en service et maintenir des systèmes et applications informatiques,
															et assurent le support pour les utilisateurs.                                                
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">Cybériade - Écoles de web master </span>
																	<span class="experience right">2003 - 100 heures</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_title">
															Chemin des Fleurettes 28, 1007 Lausanne
															</div>
														</div>
														<div class="answer">
															<p>
															Contenu succinct du cours HTML maîtrise, Feuille de style CSS, Javascript initiation, PhotoShop - Bases, Gestion de projet Internet, Référencement de sites, ergonomie de sites, Flash.                                                    
															</p>
														</div>
													</li>
													<li>
														<div class="border-center-contain">
															<i class="plus_minus"></i>
															<div  class="border-center">
																<a title="" href="">
																	<span class="title left">Région de Lausanne - Scolarité obligatoire</span>
																	<span class="experience right">1998 - 2002</span>
																	<i class="right"></i>
																</a>
															</div>
														</div>
														<div class="clear"></div>
														<div class="answer_title">
															<div class="bar_title">
																Chemin des Croix-Rouges 24, 1007 Lausanne
															</div>
														</div>
														<div class="answer">
															<p>
															J'ai effectué une grande partie de ma scolarité à lausanne après quoi j'ai directement entamer mes études d'informaticien.                                                    
															</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<!-- ends EDUCATION -->
									</div>
									<div class="clear"></div>
									<div class="margin-bottom-home"></div>
								</div>
								<div class="clear"></div>
							</div>
							<!-- RESUME ENDS -->
							<!-- PORTFOLIO START -->
							<div id="id_portfolio" class="portfolio">
								<div class="widget-container">
									<div class="sidebar_left">
										<div  class="widget-left">
											<!-- start PORTFOLIO CATEGORY -->
											<h2>Portfolio</h2>
											<div class="line"></div>
											<ul class="ul_portfolio_cat">
												<li class="active"><a href="load_porfolio.php?cat=0">All</a></li>
												<li><a href="load_porfolio.php?cat=1">Wordpress</a></li>
												<li><a href="load_porfolio.php?cat=2">Framework - sur messure</a></li>
												<li><a href="load_porfolio.php?cat=3">Design</a></li>
												<li><a href="load_porfolio.php?cat=4">News letter - Brochure</a></li>
											</ul>
											<!-- ends PORTFOLIO CATEGORY -->
										</div>
									</div>
									<div class="sidebar_right">
										<div class="margin-top"></div>
										<!-- start WORKS WITH CLIENT  -->
										<div>
											<div class="title_background_bl left"></div>
											<h2 class="title_background left">
												<span class="left">Mes travaux</span>
												<span class="left icon_bg">
													<i class="icon_award left"></i>
													<i class="icon_bg_shadow"></i>
												</span>
											</h2>
											<div class="clear"></div>
										</div>
										<!-- ends WORKS WITH CLIENT  -->
										<!-- start PORTFOLIO ITEM -->
										<div class="portfolio_container widget">
											<!-- 1 start -->
											<div class="portfolio_item">
												<img class="portfolio_image" src="/build/static/portfolio/images/portfolio/projects_pic/pic_1.png" alt="">
												<div class="portfolio_info">
													<div class="portfolio_center">
														<a class="pp pp_image" href="/build/static/portfolio/images/portfolio/projects_pic/pic_22.png" title=""></a>
														<a class="link" href="https://favelas-store.com" title="FAVELAS"></a>
														<div class="clear"></div>
														<div class="mb_portfolio"></div>
														<h4>Favelas</h4>
														<p>
														WP Framework
														</p>
													</div>
												</div>
											</div>
											<!-- 1 ends -->
											<!-- 1 start -->
											<div class="portfolio_item">
												<img class="portfolio_image" src="/build/static/portfolio/images/portfolio/projects_pic/pic_2.png" alt="">
												<div class="portfolio_info">
													<div class="portfolio_center">
														<a class="pp pp_video" href="#" title="TREND ON LINE"></a>
														<a class="link" href="https://trend-on-line.com" title="TREND"></a>
														<div class="clear"></div>
														<div class="mb_portfolio"></div>
														<h4>Trend On Line</h4>
														<p>
															WP Framework
														</p>
													</div>
												</div>
											</div>
											<!-- 1 ends -->
											<!-- 1 start -->
											<div class="portfolio_item">
												<img class="portfolio_image" src="/build/static/portfolio/images/portfolio/projects_pic/pic_3.png" alt="">
												<div class="portfolio_info">
													<div class="portfolio_center">
														<a class="pp pp_image" href="/build/static/portfolio/images/portfolio/projects_pic/pic_6.png" title=""></a>
														<a class="pp pp_image" href="/build/static/portfolio/images/portfolio/projects_pic/pic_4.png" title="Vidéo Preview"></a>
														<div class="clear"></div>
														<div class="mb_portfolio"></div>
														<h4>Bientôt em Ligne</h4>
														<p>
															WP Framework
														</p>
													</div>
												</div>
											</div>
											<!-- 1 ends -->																				
											<!-- 2 start -->
											<div class="portfolio_item">
												<img class="portfolio_image" src="/build/static/portfolio/images/portfolio/projects_pic/pic_7.png" alt="">
												<div class="portfolio_info">
													<div class="portfolio_center">
														<a class="pp pp_image" href="/build/static/portfolio/images/portfolio/projects_pic/pic_8.png" title=""></a>
														<a class="link" href="" title=""></a>
														<div class="clear"></div>
														<div class="mb_portfolio"></div>
														<h4>DS - Bientôt en version demo sur mon serveur test</h4>
														<p>
															Framework
														</p>
													</div>
												</div>
											</div>
											<!-- 2 ends -->											
											<!-- 2 start -->
											<div class="portfolio_item">
												<img class="portfolio_image" src="/build/static/portfolio/images/portfolio/projects_pic/pic_9.png" alt="">
												<div class="portfolio_info">
													<div class="portfolio_center">
														<a class="pp pp_image" href="/build/static/portfolio/images/portfolio/projects_pic/pic_10.png" title=""></a>
														<a class="link" href="" title=""></a>
														<div class="clear"></div>
														<div class="mb_portfolio"></div>
														<h4>HX Agency - Bientôt em Ligne</h4>
														<p>
															Framework
														</p>
													</div>
												</div>
											</div>
											<!-- 2 ends -->											
											<!-- 3 start -->
											<div class="portfolio_item">
												<img class="portfolio_image" src="/build/static/portfolio/images/portfolio/projects_pic/pic_11.png" alt="">
												<div class="portfolio_info">
													<div class="portfolio_center">
														<a class="pp pp_image" href="/build/static/portfolio/images/portfolio/projects_pic/pic_12.png" title=""></a>
														<a class="link" href="" title=""></a>
														<div class="clear"></div>
														<div class="mb_portfolio"></div>
														<h4>Carte de visite perso</h4>
														<p>
															Design
														</p>
													</div>
												</div>
											</div>
											<!-- 3 ends -->											
											<!-- 3 start -->
											<div class="portfolio_item">
												<img class="portfolio_image" src="/build/static/portfolio/images/portfolio/projects_pic/pic_13.png" alt="">
												<div class="portfolio_info">
													<div class="portfolio_center">
														<a class="pp pp_image" href="/build/static/portfolio/images/portfolio/projects_pic/pic_14.png" title=""></a>
														<a class="link" href="" title=""></a>
														<div class="clear"></div>
														<div class="mb_portfolio"></div>
														<h4>Logo Morgan</h4>
														<p>
															Design
														</p>
													</div>
												</div>
											</div>
											<!-- 3 ends -->																					
											<!-- 4 start -->
											<div class="portfolio_item">
												<img class="portfolio_image" src="/build/static/portfolio/images/portfolio/projects_pic/pic_16.png" alt="">
												<div class="portfolio_info">
													<div class="portfolio_center">
														<a class="pp pp_image" href="/build/static/portfolio/images/portfolio/projects_pic/pic_17.png" title=""></a>
														<a class="link" href="#" title=""></a>
														<div class="clear"></div>
														<div class="mb_portfolio"></div>
														<h4>News Letter appel d'offre</h4>
														<p>
															Newsletter
														</p>
													</div>
												</div>
											</div>
											<!-- 4 ends -->											
											<!-- 4 start -->
											<div class="portfolio_item">
												<img class="portfolio_image" src="/build/static/portfolio/images/portfolio/projects_pic/pic_15.png" alt="">
												<div class="portfolio_info">
													<div class="portfolio_center">
														<a class="pp pp_video" href="https://www.youtube.com/embed/N2IQLAs68t0" title=""></a>
														<a class="link" href="#" title=""></a>
														<div class="clear"></div>
														<div class="mb_portfolio"></div>
														<h4>Menu - Flyer</h4>
														<p>
															Newsletter
														</p>
													</div>
												</div>
											</div>
											<!-- 4 ends -->											
										</div>
										<!-- ends PORTFOLIO ITEM -->
										<div class="clear"></div>
										<div class="margin-bottom-portfolio"></div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
							</div>
							<!-- PORTFOLIO ENDS -->

							<!-- CONTACT START -->
							<div id="id_contact" class="contact">
								<div class="widget-container">
									<div class="sidebar_left">
										<div  class="widget-left">
											<h2>Contactez Nous</h2>
											<div class="line"></div>
											<p>
											Dans l'attente de l'ouverture de l'agence, merci de m'envoyer vos demandes.                                     
											</p>
											<div class="margin_bottom_20"></div>
											<!-- start FORM CONTACT -->
											<div>
												<form id="form_contact" method="post">
													<input class="full" type="text" placeholder="Nom"  name="input_name" />
													<div class="clear"></div>
													<input class="full" type="text" placeholder="Email"  name="input_email" />
													<div class="clear"></div>
													<input class="full" type="text" placeholder="Sujet" name="input_subject" />
													<div class="clear"></div>
													<textarea name="input_message" placeholder="Votre message" class="full"></textarea>
													<div class="clear"></div>
													<div>
														<div class="left div_captcha">
															<input class="left captcha" type="text" placeholder="3 + 4 = ?"  name="input_captcha" />
														</div>
														<div class="left">
															<input class="left btn_submit" type="submit" value="Envoyer" />
														</div>
														<div class="clear"></div>
													</div>
												</form>
											</div>
											<!-- end FORM CONTACT -->
										</div>
									</div>
									<div class="sidebar_right">
										<div class="margin-top"></div>
										<div>
											<div class="title_background_bl left"></div>
											<h2 class="title_background left">
												<span class="left">Adresse</span>
												<span class="left icon_bg">
													<i class="icon_office_address left"></i>
													<i class="icon_bg_shadow"></i>
												</span>
											</h2>
											<div class="clear"></div>
										</div>
										<div class="widget">
											<p>
											Indépandant dans l'âme, je travaille la plus part du temps sous contrat temporaire ou fixe. Sous la bienveillance de mon associé entrepreneur, la plus part de mes projets sont réalisé par mes soins.
											</p>
											<div class="margin_bottom_20"></div>
										</div>
										<div class="one_half">
											<div class="widget">
												<h3 class="h3_contact">SIÈGE SOCIAL</h3>
												<ul class="ul_address">
													<li class="icon_location">
														<p>
															Rte de Chavannes 143, 1007 Lausanne.
															<br />
															 Suisse
														</p>
													</li>
													<li class="icon_phone1">+41 78 253 33 05</li>
													<li class="icon_phone1">+33 6 46 48 51 17</li>
													<!-- 
													<li class="icon_email"><a href="mailto:info@kenny-alonzo.ch">info@kenny-alonzo.ch</a></li>
													 -->
												</ul>
											</div>
										</div>
										<div class="one_half">
											<div class="widget">
												<h3 class="h3_contact">SUPPORT</h3>
												<ul class="ul_address">
													<li class="icon_phone1">+41 78 253 33 05</li>
													<li class="icon_phone1">++33 6 46 48 51 17</li>
													<li class="icon_email"><a href="mailto:support@kenny-alonzo.ch">support@kenny-alonzo.ch</a></li>
												</ul>
											</div>
										</div>
										<div class="clear"></div>
										<div class="padding-20">
											<div class="border_bottom"></div>
											<div class="margin_bottom_20"></div>
											<!-- START GOOGLE MAP -->
											<div>
												<iframe class="google_map_iframe" src="https://maps.google.com/maps?q=Route%20de%20chavannes%20143&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
											</div>
											<!-- ENDS GOOGLE MAP -->
											<div class="margin_bottom_20"></div>
										</div>
									</div>
									<div class="clear"></div>
									<div class="margin-bottom-home"></div>
								</div>
								<div class="clear"></div>
							</div>
							<!-- CONTACT ENDS -->
						</div>
						<div class="inner-widget-2">
							<!-- start MAIN MENU SPACE -->
							<div id="div_menu_space">
								<div class="div_menu_space_1"></div>
								<div class="div_menu_space_2"></div>
								<div class="div_menu_space_3"></div>
								<div class="div_menu_space_4"></div>
							</div>
							<!-- ends MAIN MENU SPACE -->
							<!-- start MAIN MENU -->
							<div id="div_menu">
								<div class="centerbox-outer">
									<div id="main_menu" class="centerbox-inner">
										<ul id="ul_menu">
											<li>
												<a href="#id_home" title="">
													<span><i class="icon_home"></i>ACCUEIL</span>
												</a>
											</li>
											<li>
												<a href="#id_about" title="">
													<span><i class="icon_about"></i>À PROPOS</span>
												</a>
											</li>
											<li>
												<a href="#id_resume" title="">
													<span><i class="icon_resume"></i>CV</span>
												</a>
											</li>
											<li>
												<a href="#id_portfolio" title="">
													<span><i class="icon_portfolio"></i>PORTFOLIO</span>
												</a>
											</li>
											<li>
												<a href="#id_contact" title="">
													<span><i class="icon_contact"></i>CONTACT</span>
												</a>
											</li>
										</ul>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<!-- end MAIN MENU -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- start NAV SCROLL -->
		<div id="nav-scroll">
			<div id="nav-scroll-up"></div>
			<div id="nav-scroll-bottom"></div>
		</div>
		<!-- ends  NAV SCROLL  -->
        

        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" type="text/javascript"></script>
         <script src="{{ asset('build/runtime.js') }}"></script>
         <script src="{{ asset('build/portfolio.js') }}"></script>
        {% endblock %}
    </body>
</html>
