{% extends 'base.html.twig' %}

{% block title %}Edit Registred User{% endblock %}

{% block body %}
    <h1>Edit Galleries</h1>

    {{ include('register/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('register_index') }}">back to list</a>

    {{ include('register/_delete_form.html.twig') }}
{% endblock %}
