<form method="post" action="{{ path('types_delete', {'idType': type.idType}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.idType) }}">
    <button class="btn">Delete</button>
</form>
