<!-- Footer -->
    <!-- Footer Links -->  
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Web Tools</h5>
          <p>Here is a list of our selection of favorite web services, Development, Tutorial, Time Management, Video Converter.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Generator</h5>

          <ul class="list-unstyled">
            <li>
              <a type="link" data-toggle="tooltip" data-placement="left" title="Code snipet for various plugin Javascript" href="https://jsfiddle.net/boilerplate/responsive-css-grid">Jquery</a>
            </li>
            <li>
              <a type="link" data-toggle="tooltip" data-placement="left" title="Bootstrap example with code snipet" href="https://getbootstrap.com/docs/4.3/examples/">Bootstrap example</a>
            </li>
            <li>
              <a type="link" data-toggle="tooltip" data-placement="left" title="Generate a profesionel signature for your mail" href="https://www.mail-signatures.com/signature-generator/#/bot-clock">Email signature</a>
            </li>
            <li>
                <a type="link"  data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="https://www.jasondavies.com/wordcloud/">WordCloud</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Web Tools</h5>

          <ul class="list-unstyled">
            <li>
              <a type="link"  data-toggle="tooltip" data-placement="left" title="YouTube Converter &eacute; Music Downloader"  href="https://www.flvto.biz/fr/">YouTube Converter</a>
            </li>
            <li>
             <a type="link"  data-toggle="tooltip" data-placement="left" title="Take live vidéo of your desktop"  href="https://www.screencastify.com/">Record your desktop</a>
            </li>
            <li>
              <a type="link"  data-toggle="tooltip" data-placement="left" title="Convert your Google Drive vidéo.WBM to MP4"  href="https://www.screencastify.com/">Convert WBM </a>
            </li>
            <li>
              <a type="link"  data-toggle="tooltip" data-placement="left" title="Convert media files online from one format into another."  href="https://www.online-convert.com/">Multi Converter</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Development</h5>

          <ul class="list-unstyled">
            <li>
              <a type="link"  data-toggle="tooltip" data-placement="right" title="Template WP, Newsletter, Mail signature"  href="https://themeforest.net/">Template</a>
            </li>
            <li>
              <a type="link"  data-toggle="tooltip" data-placement="right" title="Host your source codes or documents online" href="https://github.com/">Github</a>
            </li>
            <li>
              <a type="link"  data-toggle="tooltip" data-placement="right" title="help you get answers to your toughest coding questions, share knowledge with your coworkers in private, and find your next dream job." href="https://stackoverflow.com/">stackoverflow</a>
            </li>
            <li>
              <a type="link"  data-toggle="tooltip" data-placement="right" title="Improve your typing skills" href="https://typing.io/">Typing Practice</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Sign Up</h5>
      </li>
      <li class="list-inline-item">
        <a href="{{ path('register_new') }}" class="btn btn-danger btn-rounded">Create an account</a>
      </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/kenny.alonzo.75">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" href="https://twitter.com/NoStarSunshine1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1" href ="https://www.instagram.com/kenalonjaq/">
          <i class="fab fa-instagram"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/in/kenny-alonzo">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1" href="https://github.com/kalonzo">
          <i class="fab fa-github"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018-2019 <a href="/policy">Copyright</a>
      <a href="https://mdbootstrap.com/education/bootstrap/"> www.kenny-alonzo.ch</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->